@if (formType === 'Add') {
<ng-container>
  <form
    novalidate
    autocomplete="off"
    class="db-form"
    [formGroup]="addForm"
    (ngSubmit)="addNewCoupon()"
  >
    <div class="db-form-content">
      <app-form-group [control]="addForm.controls.code">
        <app-input id="code" label="Code" formControlName="code"></app-input>
      </app-form-group>

      <app-form-group
        [control]="addForm.controls.discount"
        [patternError]="regexErrors.numbers"
      >
        <app-input
          id="discount"
          label="Discount"
          formControlName="discount"
        ></app-input>
      </app-form-group>

      <app-form-group [control]="addForm.controls.expiresAt">
        <app-date
          id="expiresAt"
          label="Expires At"
          formControlName="expiresAt"
        ></app-date>
      </app-form-group>
    </div>

    <button mat-button class="add-btn" type="submit">Add</button>
  </form>
</ng-container>
} @else {
<ng-container>
  <div class="confirm">
    <h4>
      Are you sure you want to delete?
      <span class="confirm-subject">{{ deleteCoupon.code }}</span>
    </h4>

    <div class="confirm-actions">
      <button mat-button class="accept" (click)="ondeleteCoupon()">Yes</button>
      <button mat-button class="deny" mat-dialog-close>Cancel</button>
    </div>
  </div>
</ng-container>
}
