<div class="offers py-4 my-4">
  <div class="container">
    <div class="offer-container">
      <div class="offer-box d-flex gap-3">
        <img
          src="assets/images/service.png"
          alt="service.png"
          class="offer-box-img"
        />
        <div class="m-0">
          <span class="fw-semibold text-capitalize">Free Shipping</span>
          <span class="text-sm text-gloom">For all orders above $5000 </span>
        </div>
      </div>

      <div class="offer-box d-flex gap-3">
        <img
          src="assets/images/service-02.png"
          alt="service-02.png"
          class="offer-box-img"
        />
        <div class="m-0">
          <span class="fw-semibold text-capitalize">Daily Surprise offers</span>
          <span class="text-sm text-gloom">Save upto 25% off </span>
        </div>
      </div>

      <div class="offer-box d-flex gap-3">
        <img
          src="assets/images/service-03.png"
          alt="service-03.png"
          class="offer-box-img"
        />
        <div class="m-0">
          <span class="fw-semibold text-capitalize">Support 24/7</span>
          <span class="text-sm text-gloom">Shop with an expert </span>
        </div>
      </div>

      <div class="offer-box d-flex gap-3">
        <img
          src="assets/images/service-04.png"
          alt="service-04.png"
          class="offer-box-img"
        />
        <div class="m-0">
          <span class="fw-semibold text-capitalize">Affordable Prices</span>
          <span class="text-sm text-gloom">Get factory direct product </span>
        </div>
      </div>

      <div class="offer-box d-flex gap-3">
        <img
          src="assets/images/service-05.png"
          alt="service-05.png"
          class="offer-box-img"
        />
        <div class="m-0">
          <span class="fw-semibold text-capitalize">Secure Payments</span>
          <span class="text-sm text-gloom">100% Protected payments </span>
        </div>
      </div>
    </div>
  </div>
</div>
