.button-primary {
  padding: 10px 25px;
}

.blog-img {
  max-height: 400px;
  height: 400px;

  img {
    height: 100%;
    width: 100%;
  }
}

legend {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--gray);
}

.posted-by {
  justify-self: end;
  justify-self: flex-end;
}
