<nav
  class="breadcrumb bg-white py-2 py-md-3 d-flex align-items-center justify-content-center"
>
  <a class="breadcrumb-item" routerLink="/">Home</a>
  <span class="breadcrumb-item active" aria-current="page"
    >Forgot Password</span
  >
</nav>

@if (data$ | async; as data) {
<div class="container d-flex align-items-center justify-content-center">
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    autocomplete="off"
    novalidate
    class="form-card seperator"
  >
    <div class="card shadow p-4">
      <legend class="text-center">Reset Your Password</legend>
      <p class="text-gloom fw-semibold text-sm text-center">
        We will send you an email to reset your password
      </p>

      <app-form-group
        [control]="form.controls.email"
        [patternError]="regexErrors.email"
      >
        <app-input
          label="Email"
          id="forgotEmail"
          formControlName="email"
        ></app-input>
      </app-form-group>

      <div
        class="form-card__actions d-flex flex-column align-items-center justify-content-center gap-2 my-3"
      >
        <button class="button-primary">Submit</button>
        <a routerLink="/auth/login" class="router-link">Back to Login</a>
      </div>
    </div>
  </form>
</div>
}
