<div class="container">
  <div class="row">
    <div
      class="col-12 col-lg-6 hero-carousel bg-white overflow-hidden rounded p-0"
    >
      <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ul class="carousel-indicators">
          <li
            data-bs-target="#carouselId"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="First slide"
          ></li>
          <li
            data-bs-target="#carouselId"
            data-bs-slide-to="1"
            aria-label="Second slide"
          ></li>
        </ul>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item position-relative active">
            <div class="hero-cards__text">
              <span class="hc-cat">superchaged for pros</span
              ><span class="hc-title">iPad S13+ Pro</span>
              <span class="hc-desc"
                >From $999.00 or $41/mo.<br />
                for 24 mo Footnote*</span
              >

              <button class="button-primary mt-3 text-uppercase">
                Buy Now
              </button>
            </div>
            <img
              src="assets/images/main-banner.jpg"
              class="img-fluid"
              alt="main-banner.jpg"
            />
          </div>
          <div class="carousel-item position-relative">
            <div class="hero-cards__text">
              <span class="hc-cat">supercharged for pros</span
              ><span class="hc-title">Special Sale</span
              ><span class="hc-desc"
                >From $999.00 or $41/mo.<br />
                for 24 mo Footnote*</span
              >
              <button class="button-primary mt-3 text-uppercase">
                Buy Now
              </button>
            </div>
            <img
              src="assets/images/main-banner-1.jpg"
              class="img-fluid"
              alt="main-banner-1.jpg"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselId"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselId"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-0 col-lg-6 hero-cards">
      <div
        class="hero-cards__card card rounded overflow-hidden position-relative"
      >
        <div class="hero-cards__text">
          <span class="hc-cat">Best Sale</span>
          <span class="hc-title">Laptops Max</span>
          <span class="hc-desc"
            >From $999.00 or $41/mo.<br />
            for 24 mo Footnote*</span
          >
        </div>
        <img src="assets/images/catbanner-01.jpg" alt="catbanner-01" />
      </div>
      <div
        class="hero-cards__card card rounded overflow-hidden position-relative"
      >
        <div class="hero-cards__text">
          <span class="hc-cat">New Arrival</span
          ><span class="hc-title">Buy Ipad air</span>
          <span class="hc-desc"
            >From $999.00 or $41/mo.<br />
            for 24 mo Footnote*</span
          >
        </div>
        <img src="assets/images/catbanner-02.jpg" alt="catbanner-02" />
      </div>
      <div
        class="hero-cards__card card rounded overflow-hidden position-relative"
      >
        <div class="hero-cards__text">
          <span class="hc-cat">15% off</span
          ><span class="hc-title">Smartwatch 7</span>
          <span class="hc-desc"
            >From $999.00 or $41/mo.<br />
            for 24 mo Footnote*</span
          >
        </div>
        <img src="assets/images/catbanner-03.jpg" alt="catbanner-03" />
      </div>
      <div
        class="hero-cards__card card rounded overflow-hidden position-relative"
      >
        <div class="hero-cards__text">
          <span class="hc-cat">free engraving</span
          ><span class="hc-title">AirPods Max</span>
          <span class="hc-desc"
            >From $999.00 or $41/mo.<br />
            for 24 mo Footnote*</span
          >
        </div>
        <img src="assets/images/catbanner-04.jpg" alt="catbanner-04" />
      </div>
    </div>
  </div>
</div>
