@if (data$ | async; as data) {
<div class="form-container">
  <div class="form-container-card">
    <mat-card>
      <mat-card-header>Forgot Password</mat-card-header>
      <p class="cs-span-fog text-sm text-muted text-center">
        Please input the email you registerd with
      </p>

      <mat-card-content>
        <form
          [formGroup]="form"
          (ngSubmit)="submit()"
          autocomplete="off"
          novalidate
          class="form-card"
        >
          <div class="form-card-content">
            <app-form-group
              [control]="form.controls.email"
              [patternError]="regexErrors.email"
            >
              <app-input
                label="Email"
                id="email"
                formControlName="email"
              ></app-input>
            </app-form-group>

            <div class="form-card-footer__actions">
              <button
                [disabled]="data.isLoading"
                mat-raised-button
                class="form-btn"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
}
