@import "config";
@import "resets";
@import "typography";
@import "forms";
@import "utils";
@import "cst-tables";
@import "vendor";

html,
body {
  font-size: 14px;
  background-color: #f1f1f1;
  line-height: 1.5;
  letter-spacing: 0.2px;
  position: relative;
}
