@if (data$ | async; as data) {
<div class="form-container">
  <div class="form-container-card">
    <mat-card>
      <mat-card-header>Reset Password</mat-card-header>
      <p class="cs-span-fog text-sm text-muted text-center">
        Please choose a mixture of alphanumeric and special characters
      </p>

      <mat-card-content>
        <form
          [formGroup]="form"
          (ngSubmit)="submit()"
          autocomplete="off"
          novalidate
          class="form-card"
        >
          <div class="form-card-content">
            <app-form-group
              [control]="form.controls.password"
              [patternError]="regexErrors.password"
            >
              <app-password
                label="Password"
                id="password"
                formControlName="password"
              ></app-password>
            </app-form-group>

            <app-form-group
              [control]="form.controls.confirm_password"
              [patternError]="regexErrors.password"
            >
              <app-password
                label="Confirm Password"
                id="confirm_password"
                formControlName="confirm_password"
              ></app-password>
            </app-form-group>

            <div class="form-card-footer__actions">
              <button
                [disabled]="data.isLoading"
                mat-raised-button
                class="form-btn"
              >
                Reset
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
}
