@import "../../../styles/mixins.scss";

.resource {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 0.7rem;

  @include sm() {
    grid-template-columns: repeat(1, 1fr);
  }
}

.delete-btn {
  color: var(--white) !important;
  background-color: var(--error);
}
.update-btn {
  color: var(--white) !important;
  background-color: var(--blue);
}
